{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <p>{{ note.data }}</p>
        <button type="button" class="btn-close" aria-label="Delete Note" onclick="deleteNote({{ note.id }})"></button>
    </li>
    {% endfor %}
</ul>
<form method="post">
    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
        <div align="center">
            <button type="submit" class="btn btn-primary m-3">
                Add Note
            </button>
        </div>
</form>       
{% endblock %}